::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}
.icon-margin {
  margin-right: 10px;
}
.icon-custom:hover {
  cursor: pointer;
  color: orange;
}
.card-header-custom {
  margin-bottom: 10px;
}
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  z-index: 100 !important;
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: red;
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}
.text-error {
  text-align: center;
  margin-left: 2px;
  font-size: 14px;
  color: #dc3545;
}
